<div class="header">
    <h1>MyStore</h1>
    <nav>
        <ul>
            <li>
                <a
                    routerLink="/"
                    routerLinkActive="activeLink" 
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Product List
                </a>
            </li>
            <li>
                <a
                    routerLink="/cart"
                    routerLinkActive="activeLink" 
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Cart
                </a>
            </li>
        </ul>
    </nav>
</div>