.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav li + li {
    margin-left: 1em;
}

nav a {
    font-size: 1em;
    color: #ffffff;
    padding: .5em 0;
    position: relative;
}

.activeLink::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: .4em;
    background-color: orange;
    height: 2px;
    border-radius: 2px;
    width: 80%;
}