<div class="product d-flex align-items-center">
    <img class="w-25 h-auto rounded" src="{{product.url}}" [alt]="product.name">
    <div class="productDetail ml-5">
        <p class="font-weight-bold">{{product.name}}</p>
        <p class="my-4">{{product.price | currency}}</p>
        <div class="d-flex align-items-center">
            <label for="amount">Amount: </label>
            <input type="number" [(ngModel)]="product.amount" id="amount" value="{{product.amount}}" (ngModelChange)="updateAmount(product, $event)" class="form-control w-25 ml-2">
        </div>
    </div>
</div>