
<div class="container">
    <div class="row" *ngIf="contentLoaded">
        <app-product-item *ngFor="let product of products" [product]="product" class="col-4"></app-product-item>
    </div>
    <div class="productList" *ngIf="!contentLoaded">
        <ngx-skeleton-loader appearance="circle" count="12"
        [theme]="{
            height: '25em',
            width: '15em',
            'border-radius': '0',
            margin: '1em'
        }"
        ></ngx-skeleton-loader>
    </div>
</div>